/* @import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */

@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  /* FONT FAMILIES */
  /* --font-sans: "Work Sans", sans;
  --font-display: "Inknut Antiqua"; */

  /* COLOURS */
  --color-accent-50: #fff1f2;
  --color-accent-100: #ffe1e3;
  --color-accent-200: #ffc8cc;
  --color-accent-300: #ffa1a8;
  --color-accent-400: #fe6b76;
  --color-accent-500: #f73c49;
  --color-accent-600: #e52331;
  --color-accent-700: #c01521;
  --color-accent-800: #9f151f;
  --color-accent-900: #841820;
  --color-accent-950: #48070c;

  --color-secondary-50: #f5f8f5;
  --color-secondary-100: #e8f0e9;
  --color-secondary-200: #d2e0d3;
  --color-secondary-300: #aec7af;
  --color-secondary-400: #82a684;
  --color-secondary-500: #5f8862;
  --color-secondary-600: #4b6e4d;
  --color-secondary-700: #415d43;
  --color-secondary-800: #344735;
  --color-secondary-900: #2c3b2d;
  --color-secondary-950: #141f16;

  --color-bg-gradient-start: black;
  --color-bg-gradient-end: #63121f;

  /* Other vars */
  --header-height: 100px;
  --ourwork-transition-offset: 460px;
}

.payload-richtext p {
  @apply mb-2;
}

@utility card-gradient-dark {
  background: linear-gradient(61.89deg, #430e17 12.8%, #000000 71.53%);
}
@utility card-gradient-bright {
  background: linear-gradient(194.91deg, #e83150 6.25%, #c42943 96.96%);
}
@utility card-gradient-feature {
  background: linear-gradient(329.6deg, #000000 15.91%, #63121f 125.61%);
}
@utility card-gradient-white {
  background: linear-gradient(180deg, #ffffff 0%, #fcfcfc 100%);
}
